<aside [ngClass]="'is-open-'+(UI$ | async).sidePanel.isOpen">
  <div class="sidebar">
     <div class="list-group text-center user-group">
        <img class="img-fluid rounded-circle" src="../../assets/images/user.png">
        <br>
        <h4>{{ (User$ | async).User.email}}</h4>
     </div>
     <div class="list-group panel">
        <span
           class="dropdown-1 dropdown-container"
           [ngClass]="
           (UI$ | async).sidePanel.dropDownStates[0].open
           ? 'open'
           : 'closed'
           "
           >
           <a
              (click)="toggleOpenDropDown(0)"
              class="dropdown-button-custom list-group-item collapsed"
              >
              <i class="fa fa-line-chart"></i>
              <span class="hidden-sm-down">Item 1</span>
              <div class="toggle-arrow">
                 <i class="fa fa-angle-up up-arrow"></i>
                 <i class="fa fa-angle-down down-arrow"></i>
              </div>
           </a>
           <div
              class="dropdown"
              >
              <a
                 class="list-group-item"
                 >Subitem 1 </a>
              <a
                 class="list-group-item"
                 >Subitem 2</a>
              <a
                 class="list-group-item"
                 >Subitem 3</a>
           </div>
        </span>
        <span
           class="dropdown-2 dropdown-container"
           [ngClass]="
           (UI$ | async).sidePanel.dropDownStates[1].open
           ? 'open'
           : 'closed'
           "
           >
           <a
              (click)="toggleOpenDropDown(1)"
              class="dropdown-button-custom list-group-item collapsed"
              >
              <i class="fa fa-line-chart"></i>
              <span class="hidden-sm-down">Item 2</span>
              <div class="toggle-arrow">
                 <i class="fa fa-angle-up up-arrow"></i>
                 <i class="fa fa-angle-down down-arrow"></i>
              </div>
           </a>
           <div
              class="dropdown"
              >
              <a
                 class="list-group-item"
                 >Subitem 1 </a>
              <a
                 class="list-group-item"
                 >Subitem 2</a>
              <a
                 class="list-group-item"
                 >Subitem 3</a>
           </div>
        </span>
        <span
           class="dropdown-container"
           >
        <a
           routerLinkActive="active"
           routerLink="/home"
           class="dropdown-button-custom list-group-item collapsed"
           >
        <i class="fa fa-home"></i>
        <span class="hidden-sm-down">Home</span>
        <i class="fa fa-angle-right"></i>
        </a>
        </span>
        <span
           class="dropdown-container"
           >
        <a
           routerLinkActive="active"
           routerLink="/about"
           class="dropdown-button-custom list-group-item collapsed"
           >
        <i class="fa fa-film"></i>
        <span class="hidden-sm-down">About</span>
        <i class="fa fa-angle-right"></i>
        </a>
        </span>
        <span
           class="dropdown-container"
           >
        <a
           routerLinkActive="active"
           routerLink="/todo-list"
           class="dropdown-button-custom list-group-item collapsed"
           >
        <i class="fa fa-list"></i>
        <span class="hidden-sm-down">Todo List</span>
        <i class="fa fa-angle-right"></i>
        </a>
        </span>
        <span
           class="dropdown-container"
           >
        <a
           routerLinkActive="active"
           routerLink="/graph"
           class="dropdown-button-custom list-group-item collapsed"
           >
        <i class="fa fa-line-chart"></i>
        <span class="hidden-sm-down">Graph</span>
        <i class="fa fa-angle-right"></i>
        </a>
        </span>
        <span
           class="dropdown-container"
           >
        <a
           (click)="onLogout()"
           class="dropdown-button-custom list-group-item collapsed"
           >
        <i class="fa fa-sign-out"></i>
        <span class="hidden-sm-down">Logout</span>
        <i class="fa fa-angle-right"></i>
        </a>
        </span>
     </div>
  </div>
  <hr>
  <pre
     style="overflow: hidden"
     >{{(UI$ | async) | json}}</pre>
</aside>
