<aside [ngClass]="'is-open-'+(UI$ | async).sidePanel.isOpen">
  <div id="sidebar">
    <div class="list-group panel">
      <a (click)="toggleOpenpParent()" href="#menu1" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="hidden-sm-down">Item 1</span> </a>
      <div [ngClass]="(UI$ | async).sidePanelNav.ParentNav.openClass" id="menu1" #menu1>
          <a (click)="toggleOpenChild1()" href="#menu1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Subitem 1 </a>
          <div [ngClass]="(UI$ | async).sidePanelNav.Child1Nav.openClass" id="menu1sub1">
              <a style="cursor: pointer" class="list-group-item" data-parent="#menu1sub1">Subitem 1 a</a>
              <a style="cursor: pointer" class="list-group-item" data-parent="#menu1sub1">Subitem 2 b</a>
          </div>
              <a style="cursor: pointer" class="list-group-item" data-parent="#menu1">Subitem 2</a>
              <a style="cursor: pointer" class="list-group-item" data-parent="#menu1">Subitem 3</a>
          </div>
      <a style="cursor: pointer" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-film"></i> <span class="hidden-sm-down">Item 2</span></a>
      <a style="cursor: pointer" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-film"></i> <span class="hidden-sm-down">Item 3</span></a>
      <a style="cursor: pointer" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-heart"></i> <span class="hidden-sm-down">Item 4</span></a>
      <a style="cursor: pointer" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-list"></i> <span class="hidden-sm-down">Item 5</span></a>
  </div>
  </div>
  <hr>
  <pre
  style="overflow: hidden"
>{{(UI$ | async) | json}}</pre>
</aside>
