<aside [ngClass]="'is-open-'+(UI$ | async).sidePanel.isOpen">
  <div class="sidebar">
    <div class="list-group panel">
      <img class="responsive img-round" src="">
    </div>
    <div class="list-group panel">
      <a
        (click)="toggleOpenDropDown(0)"
        class="list-group-item collapsed"
      >
        <i class="fa fa-line-chart"></i>
        <span class="hidden-sm-down">Item 1</span>
      </a>
      <div
        [ngClass]="
          (UI$ | async).sidePanel.dropDownStates[0].open
          ? 'open'
          : 'collapse'
        "
      >
        <a
          (click)="toggleOpenChild1()"
          class="list-group-item"
        >Subitem 1 </a>
        <a
          class="list-group-item"
        >Subitem 2</a>
        <a
          class="list-group-item"
        >Subitem 3</a>
      </div>

      <a
        routerLinkActive="active"
        routerLink="/"
        [routerLinkActiveOptions]="{exact: true}"
        class="list-group-item collapsed"
      >
        <i class="fa fa-home"></i>
        <span class="hidden-sm-down">Home</span>
      </a>

      <a
        routerLinkActive="active"
        routerLink="/about"
        class="list-group-item collapsed"
      >
        <i class="fa fa-film"></i>
        <span class="hidden-sm-down">About</span>
      </a>

      <a
        routerLinkActive="active"
        routerLink="/todo-list"
        class="list-group-item collapsed"
      >
        <i class="fa fa-list"></i>
        <span class="hidden-sm-down">Todo List</span>
      </a>

    </div>
  </div>


  <hr>
  <pre
  style="overflow: hidden"
>{{(UI$ | async) | json}}</pre>
</aside>
